* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(img/back.jpg);
}

.logo_nav {
    display: grid;
    place-items: center;
    width: 100%;
    height: auto;
    padding: 21px;
    align-items: center;
}

#titulo span {
    position: absolute;
    height: 15rem;
    font-size: 2.5rem;
    width: 0.8rem;
    text-align: center;
    transform-origin: bottom center;
    color: black;
}

.logo_img {
    padding-top: 2.5rem;
}

.rionegro {
    background-color: rgba(250, 235, 215, 0.274);
    border-radius: 1rem;
    margin: 1rem;
    padding: 0rem 1rem 0rem 1rem;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

li {
    list-style-image: url(img/llamaPeque.png);
    list-style-position: outside;
    background-size: 0.8rem;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.lista_nav {
    background-color: rgba(250, 235, 215, 0.678);
    border-radius: 1rem;
    padding: 1rem;
    width: 90%;
}

.modulo1 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh; /* Cambio de height: 100% a height: 100vh */
    display: flex;
    justify-content: space-around;
    align-items: center; /* Añadido align-items: center */
}

.section1 {
    display: grid;
    place-items: center;
    margin: 1rem;
    background-color: rgba(250, 235, 215, 0.493);
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
}

.titu_criolla {
    text-align: center;
}

.titu_criolla h2 {
    font-size: 3rem;
}

.llama {
    width: 100px;
    margin: 0;
}

.porcion_medi {
    width: 100px;
    height: 0;
    justify-content: center;
    text-align: center;
    font-weight: 700;
}

.brasas_criolla {
    display: flex;
    place-items: center;
}

.logoList {
    width: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.porcion {
    width: 100px;
    justify-content: center;
    text-align: center;
}

.producto {
    width: 16rem;
    height: 4rem;
}

.emplema_conntent {
    width: 100%;
    height: auto;
}
.emblema{
    width: 90%;
    height: auto;
    margin: 3rem;
    text-align: center;
    font-size: 2rem;
    background-color: rgba(250, 235, 215, 0.274);
    border-radius: 1rem;
}
.modulo1{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.section1{
    display: grid;
    place-items: center;
    margin: 1rem;
    background-color: rgba(250, 235, 215, 0.493);
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;

}

.titu_criolla{
    text-align: center;
}
.titu_criolla h2{
    font-size: 3rem;
}
.llama{
    width: 7rem;
    margin: 0rem;
    
}

.porcion_medi{
    width: 7rem;
    height: 0px;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    

}
.criolla{
    display: flex;
    font-size: 1rem;
}
.brasas_criolla{
    display: flex;
    place-items: center;

}
.logoList{
    width: 2.5rem;
    padding: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

.porcion{
    width: 5rem;
    justify-content: center;
    text-align: center;
}

.producto{
    width: 14rem;
    height: 7rem;
}
/*cambio*/
.criolla{
    display: flex;
    font-size: 1rem;
}
.brasas_criolla{
    display: flex;
    place-items: center;

}
.logoList{
    width: 2.5rem;
    padding: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

.porcion{
    width: 5rem;
    justify-content: center;
    text-align: center;
}

.producto{
    width: 14rem;
    height: 7rem;
    
}

@media (max-width: 768px) {
    ul {
        gap:2rem;
        font-size: 14px;
        padding: 0.5rem;
    }
    .modulo1 {
        display: grid;
        align-items: center;
        justify-content: space-between;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        /* Estilos para pantallas más pequeñas */
    }
    .brasas_criolla {
        display: flex;
        place-items: center;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .logoList{
        width: 2.5rem;
        padding: 1rem;
        display: flex;
        text-align: center;
        justify-content: center;
        position: absolute;
        left: 1rem;
    }
    .logoList img{
        
        align-items: center;
    }
    .porcion{
        width: 5rem;
        display: flex;
        justify-content: center;
        
    }
    .producto{
    width: 7rem;
    height: auto;
    padding: 1rem;
    
    }
}